.bg {
  padding: 1em;
  background-color: grey;
  border: 5px solid black;
  border-radius: 5%;
  width: 125px;
}
.calc-container {
  position: static;
}
input {
  background-color: lightskyblue;
  margin: 10px;
  border: 3px solid darkgrey;
  border-radius: 5px;
  text-align: center;
  height: 25px;
  width: 100px;
}
button {
  margin: 0.5em;
  width: 20%;
  height: 30%;
  position: relative;
  flex-wrap: wrap;
}
